.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// flexbox
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.p-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.text-lg {
  font-size: 36px;
}

.text-sm {
  font-size: 14px;
}

.font-bold {
  font-weight: 700;
}

.is-btn {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
